{% extends 'donate/base.html' %}

{% block title %}The Expositors Archive - Donate 404{% endblock %}

{% block content %}

<header class="head">
  <h1>404</h1>
</header>

<div class="body">
  <section>
    <article class="border">
      <h1 class="logo-heading"><i class="fa-solid fa-screwdriver-wrench"></i></h1>
      <h4 class="login-portal">Sorry! This page is currently under construction.</h4>
      <p class="login-portal">Sadly, this page isn't quite ready for public consumption. We want you to know that
          the process is certainly underway, however, so in the meantime, enjoy the rest of the site. 
      </p>
      <a href="/" class="submit-btn">Return to Homepage</a>
    </article>
  </section>
</div>  

<div class="legs form-info">
  <section>
    <article>
      <p>
        <i>
          “Preach the Word; be ready in season and out of season; 
          reprove, rebuke, exhort, with great patience and instruction.”
        </i>
      </p>
    </article>
    <article>
      <p><b>~ 2 Timothy 4:2</b></p>
    </article>
  </section>
</div>

{% endblock %}