{% extends 'classes/base.html' %}

{% block title %}The Expositors Archive - Class Directory{% endblock %}

{% block content %}

<div>
    <span>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
        {% endif %}
    {% endwith %}
    </span>
</div>

<header class="head">
    <h1>Class Directory</h1>
</header>

<div class="body">
   <section>
        {% for course in courses %}
        <article class="border">
            <h1 class="logo-heading">{{ course.name }}</h1>
            <h4>Taught by <i>{{ course.staff.last_name}}</i></h4>
            <p class="login-portal">{{ course.date }}</p>
            <a class="submit-btn" href="/classes/{{ course.id }}">Go</a>
        </article>
        {% endfor %}
   </section>
</div>

<div class="legs form-info">
    <section>
      <article>
        <p>
          <i>
            “Preach the Word; be ready in season and out of season; 
            reprove, rebuke, exhort, with great patience and instruction.”
          </i>
        </p>
      </article>
      <article>
        <p><b>~ 2 Timothy 4:2</b></p>
      </article>
    </section>
  </div>


{% endblock %}