{% extends 'resources/base.html' %}

{% block title %}The Expositors Archive - Resource Directory{% endblock %}

{% block content %}

<div>
    <span>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
        {% endif %}
    {% endwith %}
    </span>
</div>

<header class="head">
    <h1>Resource Directory</h1>
</header>

<div class="body">
    {% for resource in resources %}
    <section>
        <h1>Articles</h1>
        {% if resource.category == 'Article' %}
        <article class="border">
            <h2>
                <a class="submit-btn" href="{{ resource.link }}">{{ resource.title }}</a>
            </h2>
            <h4 class="login-portal">by <i>{{ resource.staff.last_name}}</i></h4>
        </article>
        {% endif %}
    </section>

    <section>
        <h1>Booklets</h1>
        {% if resource.category == 'Booklet' %}
        <article class="border">
            <h2>
                <a class="submit-btn" href="{{ resource.link }}">{{ resource.title }}</a>
            </h2>
            <h4 class="login-portal">by <i>{{ resource.staff.last_name}}</i></h4>
        </article>
        {% endif %}
    </section>
    
    <section>
        <h1>Books</h1>
        {% if resource.category == 'Book' %}
        <article class="border">
            <h2>
                <a class="submit-btn" href="{{ resource.link }}">{{ resource.title }}</a>
            </h2>
            <h4 class="login-portal">by <i>{{ resource.staff.last_name}}</i></h4>
        </article>
        {% endif %}
    </section>

    <section>
        <h1>Journals</h1>
        {% if resource.category == 'Journal' %}
        <article class="border">
            <h2>
                <a class="submit-btn" href="{{ resource.link }}">{{ resource.title }}</a>
            </h2>
            <h4 class="login-portal">by <i>{{ resource.staff.last_name}}</i></h4>
        </article>
        {% endif %}
    </section>

    <section>
        <h1>Conferences</h1>
        {% if resource.category == 'Conference' %}
        <article class="border">
            <h2>
                <a class="submit-btn" href="{{ resource.link }}">{{ resource.title }}</a>
            </h2>
            <h4 class="login-portal">by <i>{{ resource.staff.last_name}}</i></h4>
        </article>
        {% endif %}
    </section>
    {% endfor %}
</div>
    
<div class="legs form-info">
    <section>
      <article>
        <p>
          <i>
            “Preach the Word; be ready in season and out of season; 
            reprove, rebuke, exhort, with great patience and instruction.”
          </i>
        </p>
      </article>
      <article>
        <p><b>~ 2 Timothy 4:2</b></p>
      </article>
    </section>
  </div>
    
{% endblock %}