{% extends 'home/base.html' %}

{% block title %}The Expositors Archive - 404{% endblock %}

{% block content %}

<header class="head">
    <h1>404</h1>
</header>

<div class="body" id="contact">
    <section>
        <article class="border">
            <h1 class="logo-heading"><i class="fa-solid fa-book-skull"></i></h1>
            <h4 class="login-portal">Sorry!</h4>
            <p class="login-portal">It seems that we've reached an impasse - 
            this page requires authorization that at the moment, you don't have!
            Let's fix this issue by either logging you in or getting you in contact with the Admin team. Choose your adventure below.</p>
            <a class="submit-btn" href="/home/login">Login Portals</a>
            <a class="submit-btn" href="/home/contact">Contact Form</a>
            <a class="submit-btn" href="/home">Return to Homepage</a>
        </article>
    </section>
</div>




{% endblock %}