{% extends 'home/base.html' %}

{% block title %}The Expositors Archive{% endblock %}

{% block content %}

<div class="container-fluid"></div>

    <div class="row m-2 p-5" id="top">
        <h1 class="text-primary text-center"><i>The Expositors Library</i></h1>
    </div>

    <div class="" style="height:400px;" id="banner">
        <div class="">
            <div class="">
                <h1 class="">Welcome to the Archives.</h1>
                <p class="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                    Provident rerum minima soluta. Dolorum vel atque quisquam corrupti inventore, 
                    accusantium enim eaque! Nihil quo, corporis laborum error adipisci eos et delectus.
                </p>
                <div class="">
                    <a role="button" class="" href="/home/login">Login</a>
                </div>
            </div> 
          </div>
    </div>

    <div class="" id="contact">
        <div class="">
            <div class="">
              FAQ
            </div>
            <div class="">
              <h5 class="">Are you an Admin, Alumni, or Current Student that needs access?</h5>
              <p class="">Send us a message so we can provide a solution as fast as we can.</p>
              <a href="/home/contact" class="">Contact Us</a>
            </div>
            <div class="">
              For any acute needs, send an email directly to <a href="mailto: danr@expositors.org">danr@expositors.org</a>.
            </div>
        </div>
    </div>
        
</div>





{% endblock %}