{% extends 'home/base.html' %}

{% block title %}The Expositors Archive{% endblock %}

{% block content %}


<header class="head" id="heading">
    <h1 class="h1-heading"><i>The Expositors Library</i></h1>
</header>


<div class="body flex-container">
    <section>
        <h1>Welcome to the Archives.</h1>
        <p class="">Over the years, treasure troves of wisdom have been delivered through the teachings at The Expositors Seminary. 
            Now, all of it is available for you to return to and glean from, even after your time in seminary. Login to gain access to classes, documents, and other resources now.
        </p>
        <a role="button" class="submit-btn" href="/home/login">
            Login</a>
    </section>
</div> 
        

<div class="legs home">
    <section>
        <h1 class="header-home">FAQ</h1>
        <h5 class="">Are you an Admin, Alumni, or Current Student that needs access?</h5>
        <p class="">Send us a message so we can provide a solution as fast as we can.</p>
        <a href="/home/contact" class="submit-btn">
            Contact Us</a>
    </section>
    
    <section>
        <p>
            For any acute needs, send an email directly to 
            <a style="color:#FFDDAD"href="mailto: dan.rossdeutscher@expositors.org">
                dan.rossdeutscher@expositors.org.
            </a>
        </p>
    </section>
</div>
            
        



{% endblock %}