{% extends 'home/base.html' %}

{% block title %}The Expositors Archive - Login Portals{% endblock %}

{% block content %}

<header class="head flex-container">
    <h1><b>LOGIN PORTALS</b></h1>
</header>

<div class="body">
    <section>
        <article class="border">
            <h1 class="logo-heading"><i class="fas fa-user-graduate fa-2x"></i></h1>
            <h4 class="login-portal">TES Alumni</h4>
            <p class="login-portal">Gain access to resources for refreshment in your ministry.</p>
            <a href="/alumni/login" class="submit-btn" style="width: auto;">
                Login</a>
        </article>
        

        <article class="border">
            <h1 class="logo-heading"><i class="fas fa-university fa-2x"></i></h1>
            <h4 class="login-portal">TES Students</h4>
            <p class="login-portal">Review and relearn concepts from the classes you know and love.</p>
            <a href="/student/login" class="submit-btn" style="width: auto;">
                Login</a>
        </article>
        
        <article class="border">
            <h1 class="logo-heading"><i class="fas fa-users-cog fa-2x"></i></h1>
            <h4 class="login-portal">TES Administration</h4>
            <p class="login-portal">Make changes and edits to the Archives for future use.</p>
            <a href="/admin/login" class="submit-btn" style="width: auto;">
                Login</a>
        </article>
    </section>
</div>

<div class="legs form-info">
    <p>
      <i>
        “Preach the Word; be ready in season and out of season; 
        reprove, rebuke, exhort, with great patience and instruction.”
    </i>
      <b>~ 2 Timothy 4:2</b>
    </p>
  </div>

{% endblock %}