{% extends 'admin/base.html' %}

{% block title %}The Expositors Archive - Add Options{% endblock %}

{% block content %}

<header class="head">
  <h1>Add Options</h1>
</header>

<div class="body">
  <section>
    <article class="border">
      <h1 class="logo-heading"><i class="fas fa-school"></i></h1>
      <h4 class="login-portal">Classes</h4>
      <p class="login-portal">Any and all courses that have already been conducted in TES.</p>
      <a href="/admin/add/class" class="submit-btn">Go</a>
    </article>
    
    <article class="border">
      <h1 class="logo-heading"><i class="fas fa-book-reader"></i></h1>
      <h4 class="login-portal">Resources</h4>
      <p class="login-portal">Any resources for the edification of the saints that were written by TES staff.</p>
      <a href="/admin/add/resource" class="submit-btn">Go</a>
    </article>
  </section>
</div>

<div class="legs form-info">
  <section>
    <article>
      <p>
        <i>
          “Preach the Word; be ready in season and out of season; 
          reprove, rebuke, exhort, with great patience and instruction.”
        </i>
      </p>
    </article>
    <article>
      <p><b>~ 2 Timothy 4:2</b></p>
    </article>
  </section>
</div>
     
{% endblock %}