{% extends 'admin/base.html' %}

{% block title %}The Expositors Archive - Admin Inquiries{% endblock %}

{% block content %}

<header class="head"> 
  <h1>Inquiries</h1>
</header>

<div class="body">
  <section class="open">
    {% for contact in contacts %}
      <article class="border" id="inquiry">
        <h4 class=login-portal>
          <i>{{ contact.first_name }} {{ contact.last_name }}</i>
          - <a style="color:#FFDDAD;" href="mailto:{{ contact.email }}">
            {{ contact.email }}</a>
        </h4>
        <p class="login-portal">"{{ contact.message }}"</p>
        <!-- <button class="submit-btn"><i class="far fa-check-square"></i></button> -->
      </article>
    {% endfor %} 
  </section>
</div>

{% endblock %}