{% extends 'admin/base.html' %}

{% block title %}The Expositors Archive - Edit Classes{% endblock %}

{% block content %}

<header class="head flex-container">
  <h1>Class List</h1>
</header>

<div class="body">
  <section>
    {% for class in classes %}
      <article class="border" style="width:fit-content;">
        <h1 class="logo-heading">{{ class.name }}</h1>
        <p class="login-portal">{{ class.date }} - 
          <b>{{ class.staff.first_name}} {{ class.staff.last_name }}</b>
        </p>
        <a href="/admin/edit/classes/{{ class.id }}" class="submit-btn">Go</a>
      </article>
    {% endfor %}
  </section>
</div>
      
<div class="legs form-info">
  <section>
    <article>
      <p>
        <i>
          “Preach the Word; be ready in season and out of season; 
          reprove, rebuke, exhort, with great patience and instruction.”
        </i>
      </p>
    </article>
    <article>
      <p><b>~ 2 Timothy 4:2</b></p>
    </article>
  </section>
</div>

{% endblock %}