{% extends 'admin/base.html' %}

{% block title %}The Expositors Archive - Edit {{ course.title }}{% endblock %}

{% block content %}

<header class="head flex-container">
  <h1>{{ course.name }}</h1>
</header>

<div class="body">
  <section>
    <a class="submit-btn" href="/admin/add/classes/{{ course.id }}/lecture">Add Lecture</a>
    <a class="submit-btn" href="/admin/add/classes/{{ course.id }}/syllabus">Add Syllabus</a>
    <a class="submit-btn" href="/admin/add/classes/{{ course.id }}/document">Add Document</a>
    <a class="submit-btn" href="/admin/edit/classes/{{ course.id }}/info">Edit Class Info</a>
  </section>

  <section id="class-features">
    <h1 style="text-align: center;">Class Info</h1>
    <article class="border">
      <h1 class="logo-heading">{{ course.name }} Lectures</h1>
      {% for lecture in lectures %}
        <h4 class="login-portal">
          <a href="/admin/edit/classes/{{ course.id }}/lectures/{{ lecture.id }}">{{ lecture.name }}</a>
        </h4>
        <p class="login-portal">{{ lecture.date }}</b></p>
      {% endfor %}
    </article>

    <article class="border">
      <h1 class="logo-heading">{{ course.name }} Syllabi</h1>
      {% for syllabus in syllabi %}
        <h4 class="login-portal">
          <a href="/admin/edit/classes/{{ course.id }}/syllabi/{{ syllabus.id }}">{{ syllabus.name }}</a>
        </h4>
      {% endfor %}
    </article>

    <article class="border">
      <h1 class="logo-heading">{{ course.name }} Documents</h1>
      {% for doc in docs %}
        <h4 class="login-portal">
          <a href="/admin/edit/classes/{{ course.id }}/documents/{{ doc.id }}">{{ doc.name }}</a>
        </h4>
      {% endfor %}
    </article>
  </section>
</div>

<div class="legs form-info">
  <section>
    <article>
      <p>
        <i>
          “Preach the Word; be ready in season and out of season; 
          reprove, rebuke, exhort, with great patience and instruction.”
        </i>
      </p>
    </article>
    <article>
      <p><b>~ 2 Timothy 4:2</b></p>
    </article>
  </section>
</div>

{% endblock %}