{% extends 'admin/base.html' %}

{% block title %}The Expositors Archive - Admin Dashboard{% endblock %}

{% block content %}

<header class="head">
  <h1>
    Welcome Back, <b style="color:white;">{{ user.first_name }}!</b>
  </h1>
</header>

<div class="body">
    <section>
      <article class="border">
        <h1 class="logo-heading"><i class="fas fa-school"></i></h1>
        <h4 class="login-portal">Courses</h4>
        <p class="login-portal">Feed on the truth of God's Word through the classes in the Archives.</p>
        <a href="/classes" class="submit-btn" style="width: auto;">Go</a>
      </article>

      <article class="border">
        <h1 class="logo-heading"><i class="fas fa-book-reader"></i></h1>
        <h4 class="login-portal">Resources</h4>
        <p class="login-portal">Be spiritually refreshed for ministry through the additional resources in the Archives.</p>
        <a href="/resources" class="submit-btn" style="width: auto;">Go</a>
      </article>

      <article class="border">
        <h1 class="logo-heading"><i class="fas fa-cogs"></i></h1>
        <h4 class="login-portal">Make Changes</h4>
        <p class="login-portal">Make changes to any of the resources in the Archives, classes included.</p>
        <a href="/admin/edit" class="submit-btn" style="width: auto;">Go</a>
      </article>

      <article class="border">
        <h1 class="logo-heading"><i class="fas fa-clipboard-check"></i></h1>
        <h4 class="login-portal">Add Resources</h4>
        <p class="login-portal">Upload new courses and resources to the Archives.</p>
        <a href="/admin/add" class="submit-btn" style="width: auto;">Go</a>
      </article>

      <article class="border">
        <h1 class="logo-heading"><i class="fas fa-envelope-open-text"></i></h1>
        <h4 class="login-portal">Inquiries</h4>
        <p class="login-portal">Handle any and all messages from students and/or faculty.</p>
        <a href="/admin/contact" class="submit-btn" style="width: auto;">Go</a>
      </article>
    </section>
</div>

<div class="legs form-info">
  <section>
    <article>
      <p>
        <i>
          “Preach the Word; be ready in season and out of season; 
          reprove, rebuke, exhort, with great patience and instruction.”
        </i>
      </p>
    </article>
    <article>
      <p><b>~ 2 Timothy 4:2</b></p>
    </article>
  </section>
</div>



{% endblock %}