{% extends 'admin/login-base.html' %}

{% block title %}The Expositors Archive - Admin Login{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
    <div class="" role="">
      <b>{{ message }}</b>
    </div>
    {% endfor %}
{% endif %}
{% endwith %}

<header class="head">
  <h1>ADMIN LOGIN</h1>
</header>

<div class="body">
  <form id="contact-form" method="POST">
    {{ form.hidden_tag() }} <!--add type=hidden form fields -->
  
    {% for field in form if field.widget.input_type != 'hidden' %}
  
      <p class="">
        {{ field.label }}
        {{ field }}
  
        {% for message in field.messages %}
        <span>{{ message }}</span>
        {% endfor %}
      </p>
  
    {% endfor %}
    
    <button class="submit-btn">
      <span class="button-text">Submit</span>
    </button>
  </form>
</div>






{% endblock %}