{% extends 'admin/base.html' %}

{% block title %}The Expositors Archive - Admin Settings {% endblock %}

{% block content %}

<div>
  <span>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
      {% endif %}
    {% endwith %}
  </span>
</div>

<header class="head">
  <h1>User Settings</h1>
</header>

<div class="body">
    <form id="edit-settings-form" method="POST">
      {{ form.hidden_tag() }} <!--add type=hidden form fields -->
    
      {% for field in form if field.widget.input_type != 'hidden' %}
    
        <p>
          {{ field.label }}
          {{ field }}
    
          {% for message in field.messages %}
          <span>{{ message }}</span>
          {% endfor %}
        </p>

      {% endfor %}
      
      <button class="submit-btn">
        <span class="button-text">Submit</span>
      </button>
    </form>
</div>

{% endblock %}