{% extends 'admin/base.html' %}

{% block title %}The Expositors Archive - Edit Document for {{ course.name }}{% endblock %}

{% block content %}

<div>
  <span>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
      {% endif %}
    {% endwith %}
  </span>
</div>
  

<header class="head">
  <h1>Edit Document for {{ course.name }}</h1>
</header>

<div class="body">
    <form id="edit-syllabus-form" method="POST">
        {{ form.hidden_tag() }} <!--add type=hidden form fields -->
    
        {% for field in form if field.widget.input_type != 'hidden' %}
    
        <p>
            {{ field.label }}
            {{ field }}
    
            {% for error in field.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </p>

        {% endfor %}
        
        <button class="submit-btn">
          <span class="button-text">Save Edits</span>
        </button>
    </form>
</div>
    


{% endblock %}