{% extends 'classes/base.html' %}

{% block title %}The Expositors Archive - {{ lecture.name }} in {{ course.name }} {% endblock %}

{% block content %}

<div>
    <span>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
        {% endif %}
    {% endwith %}
    </span>
</div>

<header class="head">
    <h1>{{ lecture.name }} - <i>{{ course.name }}</i></h1>
</header>

<div class="body">
    <section>
        <div data-vimeo-url="{{ lecture.link }}" data-vimeo-width="800" data-vimeo-height="600" id="lecture"></div>
    </section>
</div>

<div class="legs form-info">
    <section>
      <article>
        <p>
          <i>
            “Preach the Word; be ready in season and out of season; 
            reprove, rebuke, exhort, with great patience and instruction.”
          </i>
        </p>
      </article>
      <article>
        <p><b>~ 2 Timothy 4:2</b></p>
      </article>
    </section>
  </div>

<script src="https://player.vimeo.com/api/player.js"></script>
<script src="{{ url_for('classes.static', filename='class.js') }}"></script>

{% endblock %}