{% extends 'classes/base.html' %}

{% block title %}The Expositors Archive - {{ course.name }} Directory{% endblock %}

{% block content %}

<div>
    <span>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
        {% endif %}
    {% endwith %}
    </span>
</div>

<header class="head flex-container">
    <h1>{{ course.name }} Directory</h1>
</header>

<div class="body">
    <section>
        <h1>Class Lectures</h1>
        {% for lecture in lectures %}
        <article class="border">
            <h1 class="logo-heading">{{ lecture.name }}</h1>
            <h4 class="login-portal"><i>{{ lecture.staff.last_name}}</i></h4>
            <a class="submit-btn" href="/classes/{{ course.id }}/lectures/{{ lecture.id }}">Go</a>
        </article>
        {% endfor %}
    </section>
    
    <section>
        <h1>Class Syllabi</h1>
        {% for syllabus in syllabi %}
        <article class="border">
            <h1 class="logo-heading">{{ syllabus.name }}</h1>
            <h4 class="login-portal"><i>{{ syllabus.course.staff.last_name}}</i></h4>
            <a class="submit-btn" href="{{ syllabus.link }}">Go</a>
        </article>
        {% endfor %}
    </section>
    
    <section>
        <h1>Class Documents</h1>
        {% for doc in docs %}
        <article class="border">
            <h1 class="logo-heading">{{ doc.name }}</h1>
            <h4 class="login-portal"><i>{{ doc.course.staff.last_name}}</i></h4>
            <a class="submit-btn" href="{{ doc.link }}">Go</a>
        </article>
        {% endfor %}
    </section>
</div>

<div class="legs form-info">
    <section>
      <article>
        <p>
          <i>
            “Preach the Word; be ready in season and out of season; 
            reprove, rebuke, exhort, with great patience and instruction.”
          </i>
        </p>
      </article>
      <article>
        <p><b>~ 2 Timothy 4:2</b></p>
      </article>
    </section>
  </div>

{% endblock %}